[Unit]
Description=batch-server for shuqi server
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/shuqi/global.config
User=deploy
Group=deploy
LimitNOFILE=100000
LimitNPROC=65535
LimitMEMLOCK=infinity
WorkingDirectory=/opt/workspace/batch-server
PIDFile=/opt/workspace/batch-server/sbin/batch-server.pid
ExecStartPre=/usr/bin/bash /usr/local/bin/shuqi batch-server init
ExecStart=/usr/bin/bash /usr/local/bin/shuqi batch-server start
ExecStop=/usr/bin/bash  /usr/local/bin/shuqi batch-server stop
PrivateTmp=true
Restart=on-failure
RestartSec=40

[Install]
WantedBy=multi-user.target
